# Base de datos
DATABASE_URL=postgresql://postgres:@localhost:/auxilio_vehicular

# JWT
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=360
REFRESH_TOKEN_EXPIRE_DAYS=7

# App
APP_NAME=Auxilio_vehicular_api
DEBUG=True


#cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=